<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/Hydatis.png">
        </div> Hydatis
    </a>
</div>
<div class="sidebar-wrapper ps">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems"  [routerLinkActiveOptions]="{ exact: false }"
         class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p style="font-weight: 500;">{{menuItem.title}}</p>
            </a>
        </li>
        <li class="active-pro nav-item" routerLinkActive="active" (click)="authService.logOut()">
            <a class="nav-link" >
                <i class="material-icons">exit_to_app</i>
                <p>Se déconnecter</p>
            </a>
        </li>
    </ul>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">

        </div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;">

        </div>
    </div>
</div>